[mysqld]
character-set-server=utf8mb4
default-time-zone='+8:00'
innodb_rollback_on_timeout='ON'
max_connections=500
innodb_lock_wait_timeout=500
bind-address=0.0.0.0

#wait_timeout=10 
#interactive_timeout=10


# 服务的唯一编号
#server-id = 1

# 开启mysql binlog功能
#log-bin = mysql-bin

# binlog记录内容的方式，记录被操作的每一行
#binlog_format = ROW

# 指定需要复制的数据库名
# binlog-do-db = wblog

#日志记录忽略那些数据库的
#binlog_ignore_db = mysql,performance_schema,information_schema 
